body {
  font-family: 'Source Sans Pro', sans-serif;
  color: rgba(86, 83, 91, 1);
}

.body_full {
  height: 100%;
  width: 100%;
  overflow: scroll;
  text-align: center;
}

.title {
  height: 60px;
  width: 100%;
  font-family: 'Sigmar One', cursive;
  font-size: 50px;
  text-align: center;
}

.section {
  width: 100%;
}

#map-canvas {
  width: 500px;
  height: 300px;
}
